/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/




.text-strong{
    font-size: smaller;
    font-weight: 900;
}


#hidden_div{
    display: none;
}

#box{
    display: none;
}


