/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/




.text-strong{
    font-size: smaller;
    font-weight: 900;
}


#hidden_div{
    display: none;
}

#box{
    display: none;
}
#logo img{
    width:250px;
}
.banner-img{
   width:300px;
   height:auto !important;
}

@media (max-width: 767px) {
    #logo{
      width:80px;
    }
    .banner-img{
        min-width:200px;
        height:auto !important;
        /* width:auto; */
     }
     #logo img{
        width:160px;
    }
    #social {
        right: 10px;
    }
    .hide-mobile{
        display:none;
    }
}
